.position-center {
  position: absolute;
  top: 50%;
  left: 50%;
  .translate(-50%,-50%);
}

.stick-bottom {
  position: absolute;
  bottom: 0;
  left: 0;
}

.skewed-content {
  .skewY(-@angle-std);
}

.full-width {
  width: 100%;
}

.padding-std { padding: @std; }
.padding-std-v { padding: @std 0; }
.padding-std-h { padding: 0 @std; }
.padding-std-t { padding-top: @std; }
.padding-std-b { padding-bottom: @std; }
.padding-std-l { padding-left: @std; }
.padding-std-r { padding-right: @std; }

.padding-sml { padding: @std/2; }
.padding-sml-v { padding: @std/2 0; }
.padding-sml-h { padding: 0 @std/2; }
.padding-sml-t { padding-top: @std/2; }
.padding-sml-b { padding-bottom: @std/2; }
.padding-sml-l { padding-left: @std/2; }
.padding-sml-r { padding-right: @std/2; }

.margin-std { margin: @std; }
.margin-std-v { margin: @std 0; }
.margin-std-h { margin: 0 @std; }
.margin-std-t { margin-top: @std; }
.margin-std-b { margin-bottom: @std; }
.margin-std-l { margin-left: @std; }
.margin-std-r { margin-right: @std; }

.z-index-0 { z-index: 0; }
.z-index-10 { z-index: 10; }
.z-index-20 { z-index: 20; }
.z-index-30 { z-index: 30; }
.z-index-40 { z-index: 40; }
.z-index-50 { z-index: 50; }