.position-center {
  position: absolute;
  top: 50%;
  left: 50%;
  .translate(-50%,-50%);
}

.stick-bottom {
  position: absolute;
  bottom: 0;
  left: 0;
}

.skewed-content {
  .skewY(-@angle-std);
}

.unskew-content {
  .skewY(@angle-std);
}

.full-width {
  width: 100%;
}

.btn-icon {
  display: block;
  background: #333;
  padding: 10px;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  color: white;
  line-height: 20px;
  font-size: 1.5em;
  box-shadow: 0px 0px 0px 5px rgba(51,51,51,0.4);
  cursor: pointer;
  .transition(all 250ms ease);
  
  &:before {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
  }
  
  &:hover {
    color: @colorDarkest;
    background-color: @colorLightest;
    box-shadow: 0px 0px 0px 5px rgba(255,255,255,0.4);
  }
}

.btn-expand {
  border: 0 !important;
  border-radius: 4px;
  padding: 3px 10px !important;
  background-color: @colorLightest;
  font-weight: bold;
  box-shadow: -2px -2px 0px rgba(0,0,0,.1) inset;
  
  &:before {
    content: '+';
  }
  
  &.expanded:before {
    content: '-';
  }
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.mid-transparent {
  .opacity(0.5);
}

.item-tooltip {
  position: absolute;
  top: -10px;
  left: 50%;
  .translate(-50%, -95%);
  background-color: #333;
  padding: 0px;
  font-size: .5em;
  text-align: left;
  color: @colorLightest;
  visibility: hidden;
  .opacity(0);
  .transition(all 250ms ease);

  .toggle-tooltip:hover & {
    visibility: visible;
    .opacity(1);
    .translate(-50%, -100%);
  }
  
  &:before {
    content: '';
    border: 5px solid transparent;
    position: absolute;
    border-top-color: @colorDark;
    bottom: -9px;
    left: 50%;
    .translateX(-50%);
    z-index: 20;
    display: block;
  }

  &:after {
    content: '';
    border: 6px solid transparent;
    position: absolute;
    border-top-color: darken(@colorDark,10);
    bottom: -12px;
    left: 50%;
    .translateX(-50%);
    z-index: 10;
    display: block;
  }
  
  ul {
    margin: 0;
    padding: 0;
    
    li {
      list-style-type: none;
      padding: @std/3 @std/2;
      padding-right: @std*2;
      border-bottom: 1px solid darken(@colorDark,20);
      border-top: 1px solid darken(@colorMedium,30);
      
      &:before {
        position: absolute;
        right: @std/2;
        font-size: 1.3em;
      }
    }
  }
}

.popinOverlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,.5);
  
  .popinWrapper {
    background-color: @colorLightest;
    padding: @std;
    max-height: 90%;
    max-width: 100%;
    overflow: scroll;
    
    img,video {
      max-width: 100%;
    }
  }
  
  .popinClose {
    position: absolute;
    top: @std/2;
    right: @std/2;
    background-color: @colorDark;
    display:block;
    width:@std;
    height: @std;
    text-align: center;
    color: @colorLightest;
    cursor: pointer;
    padding: @std/2;
    z-index: 20;
  }
}

.highlighted {
  color: #f5b200 !important;
}

p {
  &.inverted {
    color: @colorLightest;
  }
}

.inverted {
  p, h1, h2, h3, h4, h5, h6, a, label {
    color: white;
  }
  
}

.headbox {
  position: absolute;
  top: 0;
  left: 50%;
  .padding-std;
  padding-top: @std*4;
  margin-top: -@std*4;
  color: @colorLightest;
  .transform(~"translateX(-50%) skewY(-10deg)");
}

.big-icon-ahead {
  position: relative;
  display: inline-block;
  
  &:before {
    font-size: 3.5em;
    display: block;

  }
}

.illustration-icon {
  display: block;
  width: @std*3;
  height: @std*3;
  background-color: @colorLightest;
  text-align: center;
  border-radius: 50%;
  line-height: @std*3.2;
  font-size: 1.4em;
  margin: auto;
  margin-top: -@std*2.6;
  color: @color1;
}

h2.fancy {
  color: @color1;
  text-transform: uppercase;
  display: inline-block;
  width: auto;
  padding-bottom: @std/4;
  border-bottom: 4px solid;
}

.btn { display: inline-block; padding: @std/2 @std; border: 1px solid @colorMedium; color: @colorDark; cursor: pointer; text-decoration: none; }
.btn-primary { background-color: @colorDarkest; color: @colorLightest; border: 0;}
.btn-colored {
  &.btn-primary {
    background-color: @color1;
  }
}

.static { position: static; }
.relative { position: relative; }

.bkg-color-darkest { background-color: @colorDarkest; }
.bkg-color-dark { background-color: @colorDark; }
.bkg-color-medium { background-color: @colorMedium; }
.bkg-color-light { background-color: @colorLight; }
.bkg-color-lightest { background-color: @colorLightest; }

.color-darkest { color: @colorDarkest; }
.color-dark { color: @colorDark; }
.color-medium { color: @colorMedium; }
.color-light { color: @colorLight; }
.color-lightest { color: @colorLightest; }
.color1 { color: @color1 }

.small { font-size: .8em; }
.bigger { font-size: 1.4em; }
.font-light { font-family: "blogger_sanslight"; }

.flex-wrapper {
  display: flex;
}

.no-decoration { text-decoration: none; }

.circled { border-radius: 50%; }

.maxi-size { width: 960px; max-width: 100%; margin: auto; box-sizing: border-box; }

.padding-std { padding: @std; }
.padding-std-v { padding: @std 0; }
.padding-std-h { padding: 0 @std; }
.padding-std-t { padding-top: @std; }
.padding-std-b { padding-bottom: @std; }
.padding-std-l { padding-left: @std; }
.padding-std-r { padding-right: @std; }

.padding-sml { padding: @std/2; }
.padding-sml-v { padding: @std/2 0; }
.padding-sml-h { padding: 0 @std/2; }
.padding-sml-t { padding-top: @std/2; }
.padding-sml-b { padding-bottom: @std/2; }
.padding-sml-l { padding-left: @std/2; }
.padding-sml-r { padding-right: @std/2; }

.margin-std { margin: @std; }
.margin-std-v { margin: @std 0; }
.margin-std-h { margin: 0 @std; }
.margin-std-t { margin-top: @std; }
.margin-std-b { margin-bottom: @std; }
.margin-std-l { margin-left: @std; }
.margin-std-r { margin-right: @std; }

.margin-sml { margin: @std/2; }
.margin-sml-v { margin: @std/2 0; }
.margin-sml-h { margin: 0 @std/2; }
.margin-sml-t { margin-top: @std/2; }
.margin-sml-b { margin-bottom: @std/2; }
.margin-sml-l { margin-left: @std/2; }
.margin-sml-r { margin-right: @std/2; }

.margin-none { margin: 0; }
.margin-none-t { margin-top: 0; }
.margin-none-b { margin-bottom: 0; }
.margin-none-l { margin-left: 0; }
.margin-none-r { margin-right: 0; }

.text-align-left { text-align: left; }
.text-align-right { text-align: right; }
.text-align-center { text-align: center; }

.z-index-0 { z-index: 0; }
.z-index-10 { z-index: 10; }
.z-index-20 { z-index: 20; }
.z-index-30 { z-index: 30; }
.z-index-40 { z-index: 40; }
.z-index-50 { z-index: 50; }