
@colorDarkest: #242527;
@colorDark: #444349;
@colorMedium: #AAA;
@colorLight: #F1F1F1;
@colorLightest: #FFF;

@color1: #f8e471;
@color2: #FF0000;
@color3: #0000FF;

@std: 20px;

@angle-std: 10deg;

@side-menu-width: 240px;
@side-menu-border-width: 10px;