
<div class="headbox bkg-color-dark">
    <h1>Ajouter un code</h1>
</div>

<div class="bkg-color-lightest">
    Cette page permet d'ajouter une soirée à mon profil via le code du bracelet<br/>

    <input type="text" />
    <a href="#/party/0" class="btn btn-primary">OK</a>
</div>