<div class="addParty-wrapper head-backgrounded">
    <div class="bkg-color-lightest skewed-content">
        <div class="maxi-size padding-std">
            <div class="flex-wrapper text-align-center">
                <div class="item">
                    <div class="illustration-icon icon-loupe unskew-content"></div>
                    <div><h2 class="fancy">Ajouter un code</h2></div>
                    <p>Pour expérimenter l’interface interactive de Cassette et découvrir vos souvenirs de la soirée veuillez entrer le code présent sur votre bracelet. Celui-ci vous a été remis lors de votre participation à un évènement Cassette Parties.<br/></p>

                    <div class="input-and-submit margin-std-b">
                        <input type="text" placeholder="Exemple: Xz4N22" class="inverted" />
                        <a href="#/party/0" class="btn btn-primary btn-colored"><i class="icon-arrow-right"></i></a>
                    </div>

                    <img src="images/bracelet_compressed.png" class="unskew-content margin-std-v" alt=""/>
                </div>
                <div class="item">
                    <div class="illustration-icon icon-interrogation unskew-content"></div>
                    
                    <h2 class="fancy">F.A.Q</h2>

                    <div class="accordeon-item">
                        <h3 class="fancy text-align-left" data-to-expand="#lost-bracelet">J'ai perdu mon bracelet</h3>

                        <p id="lost-bracelet">Si vous avez égaré votre bracelet nous ne sommes malheureusement pas en mesure de vous redonner le code qui était lié au bracelet. </p>
                    </div>
                    <div class="accordeon-item">
                        <h3 class="fancy text-align-left" data-to-expand="#code-not-working">Mon code ne fonctionne pas !</h3>

                        <p id="code-not-working">Veuillez retaper votre code en prenant soin de vérifier qu’il correspond à celui du bracelet que vous avez conservé. Si votre code a déjà été rentré par une tierce personne veuillez prendre contact avec notre équipe : staff@cassette-parties.com</p>
                    </div>
                    <div class="accordeon-item">
                        <h3 class="fancy text-align-left" data-to-expand="#code-fail">J'ai rentré un mauvais code qui a fonctionné</h3>

                        <p id="code-fail">Si vous avez rentré un mauvais code qui a fonctionné veuillez prendre contact avec notre équipe qui annulera cet identifiant : staff@cassette-parties.com</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>