<div class="addParty-wrapper head-backgrounded">
    <div class="bkg-color-lightest skewed-content">
        <div class="maxi-size padding-std">
            <div class="flex-wrapper text-align-center">
                <div class="item">
                    <div class="illustration-icon icon-rec unskew-content"></div>
                    <div><h2 class="fancy">Ajouter un code</h2></div>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Commodi dolorem doloremque eligendi expedita nobis nostrum perferendis provident quae repudiandae voluptatem. Accusamus assumenda aut error modi nobis officia quia recusandae suscipit.<br/></p>

                    <div class="input-and-submit margin-std-b">
                        <input type="text" placeholder="Exemple: Xz4N22" class="inverted" />
                        <a href="#/party/0" class="btn btn-primary btn-colored">OK</a>
                    </div>

                    <img src="images/bracelet.png" class="unskew-content margin-std-v" alt=""/>
                </div>
                <div class="item">
                    <div class="illustration-icon icon-pause unskew-content"></div>
                    
                    <h2 class="fancy">F.A.Q</h2>

                    <div class="accordeon-item">
                        <h3 class="fancy" data-to-expand="#lost-bracelet">J'ai perdu mon bracelet</h3>

                        <p id="lost-bracelet">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugit laborum pariatur quos repellendus repudiandae suscipit voluptate? Aperiam eius eligendi hic ipsum magnam necessitatibus, numquam perspiciatis quisquam ratione rem rerum tenetur.</p>
                    </div>
                    <div class="accordeon-item">
                        <h3 class="fancy" data-to-expand="#code-not-working">Mon code ne fonctionne pas !</h3>

                        <p id="code-not-working">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Autem beatae ducimus id repellendus. Aut corporis dignissimos exercitationem fugit iure maiores nemo nihil praesentium, quibusdam quos reiciendis ullam velit voluptatem! Quam!</p>
                    </div>
                    <div class="accordeon-item">
                        <h3 class="fancy" data-to-expand="#code-fail">J'ai rentré un mauvais code qui a fonctionné</h3>

                        <p id="code-fail">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium debitis eius esse impedit ipsum iste laudantium nobis qui sit ut. Enim et iste non, numquam quod voluptatem? Ipsa, porro, vero.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>