<div id="bottomMenu" class="stick-bottom full-width">
    <ul class="onglets-wrapper">
        <li><a href="{{baseUrl}}/">Bobine</a></li>
        <li><a href="{{baseUrl}}/timeline/">Timeline</a></li>
        <li><a href="{{baseUrl}}/people/">People</a></li>
        <li><a href="{{baseUrl}}/souvenir/">Souvenir</a></li>
    </ul>
</div>