<div class="home-wrapper">

    <img class="home-logo" src="images/logo.png" alt=""/>
    
    <div class="bkg-color-dark skewed-content inverted padding-std-b">
        <div class="maxi-size padding-std">

            <div class="text-align-center">
                <p class="margin-none-t margin-none-b bigger">Bienvenue sur Cassette</p>
                <p class="margin-none-t margin-none-b">connectez vous pour revivre vos soirées :</p>
            </div>

            <div class="flex-wrapper welcome-blocks padding-std-v">
                <div class="item">
                    
                    <div class="illustration-icon unskew-content icon-pro"></div>
                    
                    <p>Organisateur <br /> d'événement ?</p>
                    <a class="btn btn-primary btn-colored" href="#">Contact pro</a>
                </div>
                <div class="item login-form ">
                    <input type="email" placeholder="Adresse e-mail" />
                    <input type="password" placeholder="Mot de passe" />
                    <div class="margin-sml-b">
                        <input type="checkbox" id="remember-me" />
                        <label for="remember-me">Se souvenir de moi</label>
                    </div>

                    <a id="login" href="#/welcome/" class="btn btn-lg btn-primary btn-colored" style="width: 100px; max-width: 100%;">Connect</a>
                </div>
                <div class="item">

                    <div class="illustration-icon unskew-content icon-interrogation"></div>
                    
                    <p>Première soirée ?</p>
                    <a class="btn btn-primary btn-colored" href="#">Inscription</a>
                </div>
            </div>
        </div>
    </div>
    
    <div class="bkg-color-lightest skewed-content">
        <div class="maxi-size text-align-center padding-std-v">
            <div class="illustration-icon unskew-content icon-loupe"></div>
            <h2 class="fancy">Découvrez le concept<br/> des cassette parties</h2>
            <div><img class="margin-std-v" src="images/bracelet_compressed.png" alt="" style="width: 300px;"/></div>
            <p><strong>Oubliez votre smartphone</strong> <br/> le temps d'une soirée</p>
        </div>
    </div>

    <div class="bkg-color-light skewed-content inverted">
        <div class="maxi-size text-align-center padding-std-v">
            <div class="illustration-icon unskew-content">&</div>
            <p class="bigger padding-std-v"><strong>Profitez de votre soirée de la meilleure manière qui soit: </strong><br/>    en la vivant vraiment !</p>
        </div>
    </div>

    <div class="bkg-color-dark skewed-content inverted">
        <div class="maxi-size text-align-center padding-std-v">
            <div class="flex-wrapper double-content">
                <div class="item">
                    <img src="images/poster.png" alt=""/>
                </div>
                <div class="item">
                    <p class="border-wrapped bigger">Créez des <strong>souvenirs uniques</strong> et <strong>inatendus</strong> avec les bornes à votre disposition !</p>
                </div>
            </div>
        </div>
    </div>

    <div class="bkg-color-lightest skewed-content">
        <div class="maxi-size text-align-center padding-std-t">
            <div class="flex-wrapper double-content margin-std-b">
                <div class="item">
                    <p class="border-wrapped bigger">Pour <strong>ne rien oublier</strong>, de tous ces petits <strong>instants de bonheur</strong> !</p>
                </div>
                <div class="item">
                    <img src="images/interaction.png" alt=""/>
                </div>
            </div>
            <div class="btn btn-primary btn-colored btn-incrusted">Commencer l'expérience cassette !</div>
        </div>
    </div>

</div>