<h1>Connectez-vous</h1>

<input type="email" placeholder="Adresse e-mail" />
<input type="password" placeholder="Mot de passe" />

<a id="login" href="#/party/0" class="btn btn-lg btn-primary">Connect</a>

<br /><br />

<a href="#">Première connexion ?</a>

<br />

<a href="#">Organisateur ?</a>