Ici seront listés les prochains événement utilisant le dispositif cassette.

<ul>
    {{#each next-parties}}
        <li>
            <a href="{{link}}" target="_blank">{{name}} - {{date}}</a>
        </li>
    {{/each}}
</ul>