<div class="welcome-wrapper head-backgrounded">

    <div class="bkg-color-lightest skewed-content text-align-center padding-std-t">
        <div class="maxi-size">
            <div><h2 class="fancy">Bienvenue sur cassette !</h2></div>
            <p class="padding-std-b">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam atque debitis earum facilis id iusto laudantium nam nemo non, nulla odio optio porro quidem sit tempore unde ut vel voluptatibus!</p>

            <div class="flex-wrapper padding-std-v margin-std-t">
                <div class="item">
                    
                    <div class="illustration-icon inverted unskew-content">1</div>
                    
                    <h3 class="fancy">Entre un code</h3>

                    <img class="margin-std-v" src="/images/bracelet.png" alt=""/>
                    
                    <p>Celui-ci est indiqué sur le bracelet</p>
                </div>
                <div class="item">
                    <div class="illustration-icon inverted unskew-content">2</div>
                    
                    <h3 class="fancy">Redécouvre ta soirée</h3>

                    <img src="http://placehold.it/640x480" alt=""/>

                    <p>Zoom, commente et mets en avant les meilleurs souvenirs !</p>
                </div>
                <div class="item">
                    <div class="illustration-icon inverted unskew-content">3</div>
                    
                    <h3 class="fancy">Conserve un souvenir inoubliable</h3>

                    <img src="http://placehold.it/640x480" alt=""/>

                    <p>Pour ne pas oublier ces souvenirs intenses !</p>
                </div>
            </div>
            
            <a class="btn btn-primary btn-colored btn-lg" href="#/add-party/">Entrer un code</a>
        </div>
    </div>
</div>