<div id="bottomMenu" class="stick-bottom full-width">
    <ul class="onglets-wrapper">
        <li><a href="#/party/{{partyId}}">Bobine</a></li>
        <li><a href="#/party/{{partyId}}/timeline/">Timeline</a></li>
        <li><a href="#/party/{{partyId}}/people/">People</a></li>
        <li><a href="#/party/{{partyId}}/souvenir/">Souvenir</a></li>
    </ul>
</div>