<div class="party-wrapper people-wrapper" style="background-color: {{party.color}};">

    <div class="timeline-infobox padding-std">
        <div class="overlay mid-transparent" style="background-color: {{party.color}}"></div>
        <img class="unskew-content" src="{{party.logo}}" alt=""/>
        <div id="party-infos" class="relative padding-sml-t text-align-left" style="display: none;">
            <p class="inverted margin-none-b">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus, at atque beatae cum dolores ea expedita harum impedit iste laboriosam laborum magnam, natus, nostrum perferendis soluta sunt voluptatibus. Esse, numquam.</p>
        </div>
        <div class="btn btn-expand" data-to-expand="#party-infos"></div>
    </div>

</div>

{{> bottomMenu}}