.home-wrapper {
    background: ~"url('../images/back.jpg') no-repeat";
    background-position: center -10vw;
    background-size: 100% auto;
    background-color: @colorDark;
    padding-bottom: 20vh;
  
  .home-logo {
    width: 240px;
    display: block;
    margin: auto;
    padding: @std*2 0;
    position: relative;
  }
  
  .welcome-blocks {
    .item {
      flex-grow: 1;
      text-align: center;
      margin: 0 @std;
      border-top: @std/4 solid @color1;
      padding-top: @std;
    }
  }
  
  .double-content {
    justify-content: center;
    align-items: center;
    
    .item {
      width: 300px;
      margin: 0 @std;
      
      img {
        max-width: 100%;
        height: auto;
      }
    }
    
  }
    
  .login-form {
    flex-grow: 2 !important;

    input {
      display: block;
      width: 100%;
      box-sizing: border-box;
      padding: @std/2;
      margin-bottom: @std/2;
    }
    
    input[type="checkbox"] {
      display: inline-block;
      width: auto;
    }
  }
}