<div class="people-profile">
    <img src="{{src}}" alt=""/>
    
    <div class="profile-content">

    <h2>Bonjour, je suis <br/>{{name}} !</h2>

    <a class="btn btn-secondary">Voir mon expérience !</a>
    <a class="btn btn-secondary">Voir mon profil complet !</a>
    </div>
</div>